* {
    font-family: "Cabin Sketch", sans-serif;
}

body {
    background-color: #7AD7F0;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 45% 55%;}

h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 1rem;
    font-size: 4rem;
    margin-top: 1rem;
}

p,span {
    font-family: "Zeyada", arial, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin: 0px;

}

div {
    text-align: center;
}
#image_box {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 0; /* Remove gap between grid items */
    margin: 0; /* Remove outer margin */
    padding: 0; /* Remove outer padding */

}
/* img {
    max-width:100%;
    height:auto;
} */
.navbar {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

}

.description {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: auto;
}
#image_box img.person {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 5rem;
    align-self: end; 
    justify-self: center;
    position: relative;
    top: 1rem;

}
#image_box img.other_person {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 5rem;
    align-self: end;
    align-self: end; 
    justify-self: start;
    position: relative;
    
    top: 1rem;

 
}
#boat {
    height: 7rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    /* justify-self: start; */
    z-index: 1;
    align-self: start; 

}