* {
    font-family: "Cabin Sketch", sans-serif;

}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     */
    background-color: #7AD7F0;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


h1 {
    padding: 1rem;
    font-size: 3rem;
    grid-area: 1/1;
}

#boat {
    width: 35vw;
    height: auto;
    position:absolute; 
    top:__; 
    left:__; 
  
}
#image_box {
    position:relative;
}
img {
    width: 10vw;
    height: auto;

}
p,span {
    font-family: "Zeyada", arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0px;

}
#context {
    margin: 0px;

}
div {
    line-height: 1.1;
    font-size: 2rem;
    text-align: center;

}
/* 

#image_box {
    position: relative;
}

#image_box img.background {
    position: absolute;
    top: -55px;  
    left: 50%; 
    transform: translateX(-50%);
    z-index: -1;
}

#boat {
    position: relative;
    z-index: 1;
}




 */

/* .important_stuff {
  
} */


#image_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-bottom: 3rem;

}

#image_box img.person {
    position: absolute;
    top: -3vh; /* Adjust this to your liking */
    left: 20%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
}
#image_box img.other_person {
    position: absolute;
    top: 0vh; /* Adjust this to your liking */
    left: 80%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
}

#boat {
    position: relative;
    z-index: 1;
    top: 15vh;
    max-width: 100%;
}

div.description {
    width: 100%;
}
